{% extends 'base.html' %}
{% block title %}New post{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %}
{% block body %}
<div class="term">
    <form id="uploadForm" method="POST" enctype="multipart/form-data">
        <label for="file">Select Image</label>
        <input type="file" id="file" name="file" accept="image/*" required>
        <label for="description">Description</label>
        <textarea id="description" name="description" rows="7" placeholder="Enter description (optional)..."></textarea>
        <label for="date">Date</label>
        <input type="datetime-local" id="date" name="date" value="{{ today }}" step="60">
        <button type="submit">Upload</button>
    </form>

    <div id="previewContainer" class="hidden">
        <h3>Preview:</h3>
        <img id="previewImage" src="" alt="Preview">
    </div>
</div>

<script src="/static/js/dashboard.js"></script>
{% endblock %}