{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="term">
    <h2 class="center">Dashboard</h2>
</div>
<div class="term">
    <div>
        <h2>
            <a href="/dashboard/new">New</a>
        </h2>
        <p>Add new images here along with description.</p>
    </div>
    <hr>
    <div>
        <h2>
            <a href="/dashboard/edit">Edit</a>
        </h2>
        <p>Still figuring out a way. Not ready.</p>
    </div>
    <hr>
    <div>
        <h2>
            <a href="/dashboard/delete">Delete</a>
        </h2>
        <p>On it.</p>
    </div>
</div>
{% endblock %}