{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
{% if uploads==[] %}
<div class="term">
    <h2>Nothing here yet...</h2>
</div>
{% endif %}
{% for item in uploads %}
<div class="term" id="{{ item.display_datetime[1] }}">
    <div class="meta">
        <span class="user">{{ user }}</span> |
        {{ item.display_datetime[0] }} |
        <span class="ago" data-timestamp="{{ item.display_datetime[1] }}"></span> |
        <a class="url" href="#{{ item.display_datetime[1] }}">#{{ item.display_datetime[1] }}</a>
    </div>
    <span>
        file:
        <a class="url" href="{{url_for('proxy_image', image_path=item.path) }}" target="_blank">
            {{ item.name }}
        </a>
    </span>
    <div class="media">
        <a href="{{ url_for('proxy_image', image_path=item.path) }}">
            <img src="{{ url_for('proxy_image', image_path=item.path) }}" alt="{{ item.name }}">
        </a>
    </div>
    {% if item.description %}
    <pre style="white-space: pre-line;">{{ item.description|safe }}</pre>
    <!-- <p style="white-space: pre-line;">{{ item.description|safe }}</p> -->
    {% endif %}
</div>
{% endfor %}
{% endblock %}
