{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
{% for item in uploads %}
<div class="term" id="{{ item.uploaded_at }}">
    <span class="user">maury</span> |
    {{ item.display_datetime[0] }} |
    <span class="ago" data-timestamp="{{ item.display_datetime[1] }}"></span> |
    <a class="url" href="#{{ item.display_datetime[1] }}">#{{ item.display_datetime[1] }}</a>
    <br>
    <span>
        file:
        <a class="url" href="{{ item.url }}" target="_blank">
            {{ item.name }}
        </a>
    </span>
    <div class="media">
        <a href="{{ item.url }}">
            <img src="{{ item.url }}" alt="{{ item.name }}">
        </a>
    </div>
    {% if item.description %}
    <pre style="white-space: pre-line;">{{ item.description }}</pre>
    {% endif %}
</div>
{% endfor %}

<script src="/static/js/time.js"></script>
{% endblock %}
