{% extends 'base.html' %}
{% block title %}New post{% endblock %}
{% block scripts %}
<script src="/static/js/preview.js" defer></script>
<link rel="stylesheet" href="/static/css/newform.css">
{% endblock %}
{% block body %}
<div class="term">
    <form id="uploadForm" method="POST" enctype="multipart/form-data">
        <label for="file">Select Image</label>
        <input type="file" id="file" name="file" accept="image/*" required>
        <label for="description">Description</label>
        <textarea id="description" name="description" rows="7" placeholder="Enter description (optional)..."></textarea>
        <label for="date">Date <small>(UTC by default)</small></label>
        <input type="datetime-local" id="date" name="date" value="{{ today }}" step="60">
        <p>
            <button type="submit">Upload</button>
        </p>
    </form>

    <div id="previewContainer" class="hidden">
        <img id="previewImage" src="" alt="Preview">
    </div>
</div>
{% endblock %}