:root{
    --width:650px; /* width of the container thats contains the image and text */
    --img:43%; /* 33% gives a 4chan look, but 43-50 show the image nicely */
}

.term:target {
    border-color: #eeeeee!important;
}

.term {
    font-size: 16px!important;
    background-color: #000000c5;
    color: #b3b8c3;
    width: 90%;
    max-width: var(--width);
    border: solid 2px #1f1f1f;
    margin: 5px auto;
    padding: 3px;
    display: table;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.user {
    color: #5e6dc4;
    font-weight: bold;
}

.media img {
    width: 100%;
    max-width: var(--img);
    padding: 2px 4px 2px 2px;
    float: left;
    box-sizing: border-box;
}

.term:hover {
    border: solid 2px #252525;
}

a {
    text-decoration: none;
}

.reply {
    text-decoration: underline;
    color: #b17ebd !important;
}

.reply:hover {
    background-color: #b17ebd!important;
    color: #0C090A!important;
}

.url {
    text-decoration: underline;
    color: #b3b8c3!important;
}

.url:hover {
    background-color: #b3b8c3!important;
    color: #0C090A!important;
}

.greentext {
    color: #7bbd67!important;
}

.redtext {
    color: #c94545!important;
}

.meta {
    font-size:80%;
}

.delete-link {
    color: #ff2727;
    font-size: 70%;
}

.delete-link:hover {
    background-color: #ff2727;
    color:#eee;
    text-decoration: underline;
}

.edit-link {
    color: #36a0ff;
    font-size: 70%;
}

.edit-link:hover {
    background-color: #36a0ff;
    color:#eee;
    text-decoration: underline;
}

.delete-status {
    display:none;
    color:#ff3636;
    font-weight:bold;
    text-align:center;
    width:100%;
}

/* Mobile-specific adjustments */
@media (max-width: 600px) {
    .media img {
        width: 33%;
        float: left;
        margin-bottom: 4px;
    }
    nav ul li {
        display: block;
        margin: 4px 0;
    }
    .term {
        width: 95%;
    }
}